VM_RETENTION=7d
VM_PORT=8428
EXPORTER_PORT=9108
EXPORTER_SOURCE=http://<3xui-dokploy-alias>:11111/debug/vars
EXPORTER_TIMEOUT=5
EXPORTER_DELAY_UNIT=ms
EXPORTER_LOG_LEVEL=INFO
GRAFANA_HTTP_ADDR=0.0.0.0
GRAFANA_PORT=3000
GRAFANA_DOMAIN=grafana.yourdomain.com

# xray-checker
XRAY_CHECKER_SUBSCRIPTION_URL=https://your-subscription-url/sub
