apiVersion: 1
datasources:
  - name: VictoriaMetrics
    uid: VM
    type: prometheus
    access: proxy
    url: http://victoriametrics:8428
    isDefault: true
    jsonData:
      timeInterval: 10s

